body{
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

#container{
  background-color: #57bc90;
  border: 1px solid #57bc90;
  max-width: 700px;
  margin: 90px auto;
}
form{
  border: solid #57bc90;
  background-color: #F5F5DC;
}


#img5{
	margin-left: 150px;
}
#vakjes{
  color: #77c9d4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text{
  display: flex;
  justify-content: start;
	color: #57bc90;
}

#submit{
	color: #015249;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

#color{
	color: #015249;
}

#block{
	width: 100%;
	height: 735px;
   max-width: 700px;
   background-color: #F5F5DC;
   border: 2px solid #57bc90;
   display: inline-block;
   float: left;
   margin-top: 90px;
}

#prijs{
	max-width: 250px;
	height: 20px;
}

@media only screen and (max-width: 500px) {
  #block {
    width: 100%; 
  }
 
#vakjes{
	margin-left: 0px;

}


  #container {
    width: 100%; 
  }
 
  #text{
	margin-left: 10px;
}

#img5{
	margin-left: 0px;
}



  form {
    width: 100%;
  }
 


  article {
    width: 100%;
  }
 
}
@media(max-width: 1382px) {
  #block {
    margin-top: 0px;
  }
}